<% provide(:title, "About") %> <!-- Call the 'provide' function and associate the string "Home" with the label ':title' -->
<h1>About!</h1>
<p>
  This website is
  <a href="https://www.linkedin.com/in/amendelow/">Ari Mendelow's</a>
  Ruby on Rails sample application.

  Feel free to reach me at
  <a href = "mailto: ari@mendelow.me">ari@mendelow.me</a>
  with any questions or comments.
</p>
