<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Sample Application</title>
  </head>
  <body>
    <h1>Help!</h1>
    <p>
      Feel free to reach me at
      <a href = "mailto: ari@mendelow.me">ari@mendelow.me</a>
      with any questions or comments.
    </p>
  </body>
</html>
