<% provide(:title, "Home") %> <!-- Call the 'provide' function and associate the string "Home" with the label ':title' -->
<h1>Ari's Sample App!</h1>
<p>
  This is the home page for
  <a href="https://www.linkedin.com/in/amendelow/">Ari Mendelow's</a>
  Ruby on Rails sample application.
</p>
