<h1>Ari's Sample App</h1>

<p>Hi <%= @user.name %>,</p>
<p>
  Welcome to Ari's Sample app! Click on the link below to activate your account:
</p>

<!-- Including a hash in the named route sets a query param -->
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
