<% provide(:title, 'All Users') %>
<h1>All Users!</h1>

<!-- will_paginate works like this:
        - Inside of a user's view, it automatically looks for a @users object,
          and then displays pagination links to access other pages
        - It requires that we paginate the results explicitly using the 'paginate' method
 -->
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
