<% @user ||= current_user %>
<div class="follow-stats">
  <a href="<%= following_user_path(@user) %>">
    following
    <strong id="following" class="follow_stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    followers
    <strong id="followers" class="follow_stat">
      <%= @user.followers.count %>
    </strong>
  </a>
</div>
