<footer class="footer">
  <div class="container">
    <small class="align-middle">
      A Ruby on Rails sample application by <a href="https://www.linkedin.com/in/amendelow/">Ari Mendelow</a>
    </small>
    <% @part = 'footer' %>
    <%= render "layouts/nav", locals: { part: @part} %>
  </div>
</footer>
