<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app",      root_path, id: "logo" %>
    <% @part = 'header' %>
    <%= render "layouts/nav", locals: { part: @part} %>
  </div>
</header>
